<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/javascripts/lib/underscore.js"></script>
        <script src="/javascripts/lib/backbone.js"></script>
        <script src="/javascripts/lib/backbone.brace.js"></script>
        <script src="/javascripts/lib/mixins/disposability/disposabletreenode.js"></script>
        <script src="/javascripts/lib/mixins/disposability/disposesasview.js"></script>
        <script src="/javascripts/lib/mixins/views/prepostrendermethod.js"></script>
        <script src="/javascripts/lib/mixins/views/compositeview.js"></script>
        <script src="/javascripts/lib/mixins/views/listview.js"></script>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>Welcome to {{ title }}</p>
    </body>
</html>